<%= render 'shared/header' %>

<h1>家計簿登録</h1>

<%= form_with(model: @household_account, local: true) do |f| %>
  <div>
    <%= f.label :housing, "住宅" %>
    <%= f.text_field :housing, value: 0, oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
  </div>
  <div>
    <%= f.label :food, "食費" %>
    <%= f.text_field :food, value: 0, oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
  </div>
  <div>
    <%= f.label :utilities, "水道光熱費" %>
    <%= f.text_field :utilities, value: 0, oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
  </div>
  <div>
    <%= f.label :communication, "通信費" %>
    <%= f.text_field :communication, value: 0, oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
  </div>
  <div>
    <%= f.label :daily_goods, "日用品" %>
    <%= f.text_field :daily_goods, value: 0, oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
  </div>
  <div>
    <%= f.label :clothing_beauty, "美容・衣服" %>
    <%= f.text_field :clothing_beauty, value: 0, oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
  </div>
  <div>
    <%= f.label :entertainment, "趣味・娯楽" %>
    <%= f.text_field :entertainment, value: 0, oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
  </div>
  <div>
    <%= f.label :transportation, "交通費" %>
    <%= f.text_field :transportation, value: 0, oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
  </div>
  <div>
    <%= f.label :health_medical, "健康・医療" %>
    <%= f.text_field :health_medical, value: 0, oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
  </div>
  <div>
    <%= f.label :education, "教育費" %>
    <%= f.text_field :education, value: 0, oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
  </div>
  <div>
    <%= f.label :insurance, "保険料" %>
    <%= f.text_field :insurance, value: 0, oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
  </div>
  <div>
    <%= f.label :special_expenses, "特別費" %>
    <%= f.text_field :special_expenses, value: 0, oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
  </div>
  <div>
    <%= f.label :total, "合計" %>
    <%= f.text_field :total, value: 0, readonly: true, id: "total-field" %>
  </div>
  <div>
    <%= f.label :description, "メモ" %>
    <%= f.text_area :description, maxlength: 500 %>
  </div>
  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= render 'shared/footer' %>