<%= render 'shared/header' %>

<div class="household-account-form-container">
  <h2 class="form-title">予算新規登録</h2>
  <%= form_with(model: @budget, local: true) do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 予算登録フォーム %>

<div class="form-grid">
  <div class="form-group">
    <%= f.label :housing_budget, "住宅" %>
    <%= f.text_field :housing_budget, step: 1, id:"expense-field1" %>
  </div>
  <div class="form-group">
    <%= f.label :food_budget, "食費" %>
    <%= f.text_field :food_budget, step: 1, id:"expense-field2" %>
  </div>
  <div class="form-group">
    <%= f.label :utilities_budget, "水道光熱費" %>
    <%= f.text_field :utilities_budget, step: 1, id:"expense-field3" %>
  </div>
  <div class="form-group">
    <%= f.label :communication_budget, "通信費" %>
    <%= f.text_field :communication_budget, step: 1, id:"expense-field4" %>
  </div>
  <div class="form-group">
    <%= f.label :daily_goods_budget, "日用品" %>
    <%= f.text_field :daily_goods_budget, step: 1, id:"expense-field5" %>
  </div>
  <div class="form-group">
    <%= f.label :clothing_beauty_budget, "美容・衣服" %>
    <%= f.text_field :clothing_beauty_budget, step: 1, id:"expense-field6" %>
  </div>
  <div class="form-group">
    <%= f.label :entertainment_budget, "趣味・娯楽" %>
    <%= f.text_field :entertainment_budget, step: 1, id:"expense-field7" %>
  </div>
  <div class="form-group">
    <%= f.label :transportation_budget, "交通費" %>
    <%= f.text_field :transportation_budget, step: 1, id:"expense-field8" %>
  </div>
  <div class="form-group">
    <%= f.label :health_medical_budget, "健康・医療" %>
    <%= f.text_field :health_medical_budget, step: 1, id:"expense-field9" %>
  </div>
  <div class="form-group">
    <%= f.label :education_budget, "教育費" %>
    <%= f.text_field :education_budget, step: 1, id:"expense-field10" %>
  </div>
  <div class="form-group">
    <%= f.label :insurance_budget, "保険料" %>
    <%= f.text_field :insurance_budget, step: 1, id:"expense-field11" %>
  </div>
  <div class="form-group">
    <%= f.label :special_expenses_budget, "特別費" %>
    <%= f.text_field :special_expenses_budget, step: 1, id:"expense-field12" %>
  </div>
</div>

<hr class="divider">

<div class="form-group">
  <%= f.label :total_budget, "合計" %>
  <%= f.text_field :total_budget, step: 1, id:"result"%>
</div><br>


  <div class="form-group">
    <%= f.submit "登録", class: "submit-button" %>
  </div>
  <% end %>
</div>

<%= render 'shared/footer' %>